@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light Web'), local('OpenSans-Light Web'), url(../fonts/opensans-light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Web Web'), local('OpenSans Web'), url(../fonts/opensans-regular.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold Web'), local('OpenSans-Semibold Web'), url(../fonts/opensans-semibold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold Web'), local('OpenSans-Bold Web'), url(../fonts/opensans-bold.woff) format('woff');
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a img {
    border: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    animation: fadein .5s .25s forwards;
    opacity: 0;

    font-family: 'Open Sans Web', sans-serif;
    font-size: 16px;
    margin: 48px;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    cursor: default;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

header .logo {
    max-width: 240px;
    min-height: 166px;
}

header h2 {
    color: #008ba9;
    font-size: 1.8em;
}

header h3 {
    color: #999;
    font-size: 1.1em;
    font-weight: normal;
}

a.next {
    background-color: #2ad352;

    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: block;
    font-size: 28px;
    margin: 42px auto 0;
    max-width: 240px;
    padding: 16px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

a.next:hover {
    background-color: #13c33d;
}

.success {
    color: #2ad352;
    font-size: 2.2em;
}

.heads-up a {
    color: #008ba9;
    font-size: 1.2em;
    font-weight: bold;

    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}

.heads-up a:hover {
    color: #04768f;
}

.please-wait {
    color: #2ad352;
    font-size: 1.8em;
}

.phase {
    display: none;
}

.phase-hello {
    display: block;
}
